<footer>
    <div class="address-group">
        <div class="footer-right">
            <!-- <p class="footer-logo">
            </p> -->
            <div class="help">
                HELP : Sookmyung Women's University
            </div>
            <!-- <div class="email">
                Email : miniymay AT sookmyung.ac.kr
            </div> -->
            <div class="address p-20">
                100, Cheongpa-ro, 47-gil, Yongsan-gu, Seoul, Republic of Korea
            </div>
            <div class="tel p-20">
                <div>Tel : 02) 710 - 9114</div>
                <!-- <div>F. 02)718-2337</div> -->
                <div>Email : miniymay AT sookmyung.ac.kr</div>
            </div>
        </div>
        
        <!-- <div class="address-content">
            <div class="name">
                <strong>Asan Medical Center</strong>
            </div>
            <div class="address p-20">
                88, OLYMPIC-RO 43-GIL, SONGPA-GU, SEOUL 05505, KOREA
            </div>
            <div class="tel p-20">
                <div>TEL 1688-7575</div>
                <div>F. 02)718-2337</div>
            </div>
        </div> -->
        <div class="social">
            <div class="sns-group">
                <div>
                    <ul>
                        <li><a href="https://www.instagram.com/amc_seoul/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC08tP3KIyCK9vYNZm5qQuiw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://blog.naver.com/amc_seoul" target="_blank"><i class="fab fa-blogger"></i></a></li>
                        <li><a href="https://www.facebook.com/AMC.SEOUL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <!-- <li><a href="https://www.linkedin.com/school/%EC%88%99%EB%AA%85%EC%97%AC%EC%9E%90%EB%8C%80%ED%95%99%EA%B5%90" target="_blank"><i class="fab fa-linkedin-in"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="stationery">
                This research was supported by the Bio & Medical Technology <br> Development Program of the National Research Foundation (NRF) <br>funded by the Korean government (MSIT) (2019M3E5D3073365).
                <!-- This Research was supported by <strong>Sookmyung Women's <br> University ..............</strong>. -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div>
            <!-- ⓒ 2020 .... Platform - All rights reserved -->
            Copyright@2020 by Asan Medical Center. All Rights reserved.
        </div>
    </div>
</footer>