<main class="index__main">
    <div class="search__wrapper">
        <div class="search__container">
            <div class="search-heading">
                <!-- <span class="heading">Explore Asthma Patient<br><center>Multi-omics Data</center></span> -->
                <span class="heading"><center>Precision Medicine in Severe Asthma: Korea-UK PRISM study consortium</center></span>
                
            </div>
            <div class="search-subheading">
                <span class="subheading">Quickly find sample information from data sources!</span>
            </div>
            <div class="search-bar">
                <form action="/search" method="get" id="search-form" class="search-form">
                    <input type="text" class="search-input" name="query" placeholder="search" />
                    <i class="fas fa-search fa-2x"></i>
                </form>
            </div>
            <div class="search-example">
                <ul class="example-list">
                    <li class="example">Examples:</li>
                    <li class="example"><a href="/search?query=01-001">01-001</a></li>
                    <li class="example"><a href="/search?query=01-002">01-002</a></li>
                    <li class="example"><a href="/search?query=01-003">01-003</a></li>
                    <li class="example"><a href="/search?query=01-004">01-004</a></li>
                    <li class="example"><a href="/search?query=01-005">01-005</a></li>
                    <li class="example"><a href="/search?query=01-006">01-006</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="platform-description">
        <div class="description__wrapper">
            <span class="description-heading"><center>Precision Medicine in Severe Asthma: <br>Korea-UK PRISM study consortium</center></span>
            <p class="description-content">This platform focuses on integration and analysis of asthma multi-omics dataset for precision medicine. It is a web-based platform for storage and share of large volume of data to implement multi-omics analysis pipeline and workflow. Currently, it provides sample information for each omics data and supports users to search their multi-omics sample dataset and data visualization. Based on this platform, obtained dataset can be utilized to improve the efficiency of the research and enable the validation of experiments. This can also provide the fundamental for research reliability by increasing the accuracy.</p>
            <div class="logo">
                <!-- <img src="http://203.252.206.90:5566/images/prismcoreaLogo.png" alt="Breaking Borders Logo" height="80">   -->
                <img src="http://203.252.206.90:5566/images/prismcoreaubiopredLogo.png" alt="Breaking Borders Logo" height="80">  
            </div>
        </div>
    </div>
    <div class="search-bar-sticky">
        <span>platform</span>
        <form action="/search" method="get" id="search-form">
            <input type="text" class="search-input-sticky" name="query" placeholder="search" />
            <i class="fas fa-search fa-2x"></i>
        </form>
    </div>
</main>

<script>
    document.querySelector(".search-bar-sticky").style.display = "none";
    function submitForm(){
        document.getElementById("search-form").submit();
    }
    let input = document.querySelector(".search-input");
    input.addEventListener("keyup", function(event) {
        if(event.keyCode === 13) {
            event.preventDefault();
            submitForm();
        }
    });
    let submitBtn = document.querySelector(".search-form i");
    submitBtn.addEventListener("click", function(event) {
        event.preventDefault();
        submitForm();
    });

    var sticky = input.offsetTop;
    window.onscroll = function() {
        if(window.pageYOffset >= sticky) {
            document.querySelector(".search-bar-sticky").style.display = "flex";
        } else {
            document.querySelector(".search-bar-sticky").style.display = "none";
        }
    }
</script>