<main class="search__main">
    <div class="search__wrapper">
        <span>SEARCH FOR</span>
        <div class="search-bar">
            <form action="/search" method="get" id="search-form" class="search-form">
                <input type="text" class="search-input" name="query" placeholder="search" value=<%=keyword%> >
                <i class="fas fa-search fa-2x"></i>
            </form>
        </div>
    </div>
    <div class="search__result">
        
        <div class="clinical-dataset-chart">
            <% if(keyList[0] == "BFBDF1P") { %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEV1 예측치</h1>
            <% } else if(keyList[0] == "BFBDF1R"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEV1 측정치</h1>
            <% } else if(keyList[0] == "BFBDF1PP"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEV1 % 예측치</h1>
            <% } else if(keyList[0] == "BFBDFVP"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FVC 예측치</h1>
            <% } else if(keyList[0] == "BFBDFVR"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FVC 측정치</h1>
            <% } else if(keyList[0] == "BFBDFVPP"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FVC % 예측치</h1>
            <% } else if(keyList[0] == "BFBDFFP"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEV1/FVC 예측치</h1>
            <% } else if(keyList[0] == "BFBDFFR"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEV1/FVC 측정치</h1>
            <% } else if(keyList[0] == "BFBDFFPP"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEV1/FVC % 예측치</h1>
            <% } else if(keyList[0] == "BFBDF25P"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEF25-75 예측치</h1>
            <% } else if(keyList[0] == "BFBDF25R"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEF25-75 측정치</h1>
            <% } else if(keyList[0] == "BFBDF25PP"){ %>
                <h1 class="table-title-chart">기관지확장제 투여 전/후 FEF25-75 % 예측치</h1>
            <% } %>
            <div class="chartdiv" id="chartdiv"></div>
            
        </div>   
    </div>

    <div class="search-bar-sticky">
        <span>platform</span>
        <form action="/search" method="get" id="search-form">
            <input type="text" class="search-input-sticky" name="query" placeholder="search" />
            <i class="fas fa-search fa-2x"></i>
        </form>
    </div>
</main>
<style>
    #chartdiv {
      width: 100%;
      height: 500px;
    }
    </style>
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script>
    
    am5.ready(function() {
        // Create root element
        var root = am5.Root.new("chartdiv");
        
        // Set themes
        root.setThemes([
          am5themes_Animated.new(root)
        ]);
        
        
        // Create chart
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
          panX: false,
          panY: false,
          wheelX: "panX",
          wheelY: "zoomX",
          layout: root.verticalLayout
        }));
        
        
        // Add legend
        // https://www.amcharts.com/docs/v5/charts/xy-chart/legend-xy-series/
        var legend = chart.children.push(
          am5.Legend.new(root, {
            centerX: am5.p50,
            x: am5.p50
          })
        );
        var data = <%- JSON.stringify(result) %>;
        
        // Create axes
        var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
          categoryField: "VISITNM",
          renderer: am5xy.AxisRendererX.new(root, {
            cellStartLocation: 0.1,
            cellEndLocation: 0.9
          }),
          tooltip: am5.Tooltip.new(root, {})
        }));
        
        xAxis.data.setAll(data);
        
        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
          renderer: am5xy.AxisRendererY.new(root, {})
        }));
        
        // Add series
        function makeSeries(name, fieldName) {
          var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            name: name,
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: fieldName,
            categoryXField: "VISITNM"
          }));
        
          series.columns.template.setAll({
            tooltipText: "{name} : {valueY}",
            width: am5.percent(90),
            tooltipY: 0
          });
        
          series.data.setAll(data);
        
          // Make stuff animate on load
          series.appear();
        
          series.bullets.push(function () {
            return am5.Bullet.new(root, {
              locationY: 0,
              sprite: am5.Label.new(root, {
                text: parseFloat("{valueY}"),
                fill: root.interfaceColors.get("alternativeText"),
                centerY: 0,
                centerX: am5.p50,
                populateText: true
              })
            });
          });
          legend.data.push(series);
        }
        
        var keylist = <%- JSON.stringify(keyList) %>;
        makeSeries(keylist[0], keylist[0]);
        makeSeries(keylist[1], keylist[1]);
        
        
        // Make stuff animate on load
        // https://www.amcharts.com/docs/v5/concepts/animations/
        chart.appear(1000, 100);
        
    }); // end am5.ready()
    document.querySelector(".search-bar-sticky").style.display = "none";
    function submitForm(){
        document.getElementById("search-form").submit();
    }
    let input = document.querySelector(".search-input");
    input.addEventListener("keyup", function(event) {
        if(event.keyCode === 13) {
            event.preventDefault();
            submitForm();
        }
    });
    let submitBtn = document.querySelector(".search-form i");
    submitBtn.addEventListener("click", function(event) {
        event.preventDefault();
        submitForm();
    });

    var sticky = input.offsetTop;
    window.onscroll = function() {
        if(window.pageYOffset >= sticky) {
            document.querySelector(".search-bar-sticky").style.display = "flex";
        } else {
            document.querySelector(".search-bar-sticky").style.display = "none";
        }
    }
</script>

