.corea {
    display: flex;
    flex-direction: column;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding: 10px 5%;
}

.corea .table-title {
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.corea .table-title-information{
    font-size: 20px;
    padding-bottom: 18px;
}

.corea .dropdown {
    width: 20%;
}

.corea .download_button{
    margin-bottom: 10px;
}

.corea .table_checkbox{
    width: 3%;
    vertical-align: middle;
}

.corea .table-fileName{
    width: 50%;
    /* vertical-align: middle; */
}

.corea .zipDownloadbutton {
    border: 0;
    background-color:transparent;
}