.datasets {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
}

.datasets .table{
    font-size: 13px;
}

.datasets .table-thead{
    background-color:#F5F5F5;
    font-weight: bolder;
}

.datasets .table-title {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}