footer {
    background-color: #282C34;
    color: white;
    display: flex;
    flex-direction: column;
    /* padding: 40px 200px 20px 200px; */
    padding: 40px 10% 20px 10%;
}

.address-group {
    display: flex;
}

.footer-right {
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 20px;
}

.address-content {
    display: flex;
    flex-direction: column;
}

.address-content .name {
    font-size: 22px;
    padding-top: 15px;
}

.address {
    line-height: 20px;
}

.email {
    padding-top: 20px;
}

.tel {
    display: flex;
    justify-content: space-between;
}

.p-20 {
    padding-top: 20px;
}

.social {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sns-group {
    display:flex;
    justify-content: center;
    margin-bottom: 10px;
}

.sns-group ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.sns-group li {
    float: left;
    padding-right: 30px;
}

.sns-group li a {
    color: #fff;
}

.sns-group li a:visited {
    color: #fff;
}

.stationery {
    line-height: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}